@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer components {
	.form-control:invalid {
		@apply ring-2 ring-red-400;
	}
	.form-control:valid {
		@apply ring-2 ring-green-400;
	}
	.form-control {
		@apply p-2 rounded-sm  text-gray-600 focus:ring-2 focus:outline-none focus:ring-yellow-400 transition-colors;
	}

	.btn-click-scale {
		@apply transform-gpu transition-all hover:scale-105 focus:scale-105 hover:shadow-lg focus:shadow-md active:scale-100;
	}
}
